.static-cards {
  height: 20vh;
  background-image: url("../../assets/cards.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s ease;
}

.lng-creatingBtn {
  height: 35px;
  background-color: var(--anchor-color);
}

button[type="submit"]:hover {
  filter: invert(1);
  transition: filter 0.3s ease-in-out;
}

input:user-invalid {
  border-color: rgb(141, 28, 28);
}

textarea {
  width: 100%;
}

.textContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

// input[type="url"] {
//   width: 50%;
//   margin-right: 8px;
// }

input[type="file"]::file-selector-button {
  color: #f3f4f6;
  // background-color: gray;
  background-color: var(--anchor-color);
  padding: 4px 6px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

output {
  position: absolute;
  bottom: 30px;
  right: 10px;
  background-color: gray;
  background-color: var(--anchor-color);
  color: #f3f4f6;
  padding: 2px 6px;
  border-radius: 4px;
}
